/**Custom Properties **/
:root{
    --color-primario: #C2185B;
    --color-secundario: #FFC107;
    --color-primario-oscuro: rgb(156,10,69);
    --fuentePrimaria: 'Arial', Helvetica, sans-serif;
    --fuenteSecundaria : 'Poppins', sans-serif;
}
/**Goblales**/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
      background-color: var(--color-primario);
      font-family: var(--fuentePrimaria);
  }
  .bg-amarillo{
      background-color: var(--color-secundario);
  }
  .contenedor{
      margin: 0 auto;
      max-width: 1100px;
  }
  .sombra{
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
     box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
  }
  h1,h2{
      font-family: var(--fuenteSecundaria);
      text-align: center;
      margin: 0;
  }
  h1{
      padding: 20px;
      color: white;
  }
  .contenedor-barra{
      background-color: var(--color-primario-oscuro);
  }
  /** Formulario **/
  form{
      padding: 3rem;
      margin-top: 2rem ;
  }
  form legend{
      font-family: var(--fuenteSecundaria);
      font-size: 2rem;
      text-align: center;
      display: block;
  }
  legend span{
      font-size: 1rem;
      margin-top: 1rem;;
      clear: both;
      display: block;
  }